<!DOCTYPE html>
<html>
<head>
	<title>세번째 페이지</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

	<script type="text/javascript">

      // $(document).ready(function(){
      //    $('#cards_box_1').html('');
      //    ART_Movie_listing_genre_1();
      // });

      ART_Movie_listing_genre_1();

      function ART_Movie_listing_genre_1(){
         //let genre_1 = user_genre_1
         $.ajax({
         	type: "GET",
         	url: "/art_user_genre_1",
         	data: {},
         	success: function(response){
         		let genre_1_movie_infos = response['ART_movie_list'];
         		console.log(genre_1_movie_infos)

         		let random_1 = Math.floor(Math.random() * genre_1_movie_infos.length)
         		let random_2 = Math.floor(Math.random() * genre_1_movie_infos.length)
         		let random_3 = Math.floor(Math.random() * genre_1_movie_infos.length)

         		if ((random_1 == random_2) || (random_1 == random_3) || (random_2 == random_3)) 
         			ART_Movie_listing_genre_1()
         		else{
         			random_1 = random_1
         			random_2 = random_2
         			random_3 = random_3
         		}

         		let genre_1_list = new Array;
         		let genre_1_first = new Array;
         		let genre_1_second = new Array;
         		let genre_1_third = new Array;
               // 장르 1의 첫번째 영화 정보
               let genre_1_first_title = genre_1_movie_infos[random_1]['title']
               let genre_1_first_poster_url = genre_1_movie_infos[random_1]['poster_url']
               let genre_1_first_director = genre_1_movie_infos[random_1]['director']
               let genre_1_first_summary = genre_1_movie_infos[random_1]['summary']

               genre_1_first.push(genre_1_first_title)
               genre_1_first.push(genre_1_first_poster_url)
               genre_1_first.push(genre_1_first_director)
               genre_1_first.push(genre_1_first_summary)

               console.log(genre_1_first)
               

               // 장르 1의 두번째 영화 정보
               let genre_1_second_title = genre_1_movie_infos[random_2]['title']
               let genre_1_second_poster_url = genre_1_movie_infos[random_2]['poster_url']
               let genre_1_second_director = genre_1_movie_infos[random_2]['director']
               let genre_1_second_summary = genre_1_movie_infos[random_2]['summary']

               genre_1_second.push(genre_1_second_title)
               genre_1_second.push(genre_1_second_poster_url)
               genre_1_second.push(genre_1_second_director)
               genre_1_second.push(genre_1_second_summary)

               console.log(genre_1_second)

               // 장르1의 세번째 영화 정보
               let genre_1_third_title = genre_1_movie_infos[random_3]['title']
               let genre_1_third_poster_url = genre_1_movie_infos[random_3]['poster_url']
               let genre_1_third_director = genre_1_movie_infos[random_3]['director']
               let genre_1_third_summary = genre_1_movie_infos[random_3]['summary']

               genre_1_third.push(genre_1_third_title)
               genre_1_third.push(genre_1_third_poster_url)
               genre_1_third.push(genre_1_third_director)
               genre_1_third.push(genre_1_third_summary)

               console.log(genre_1_third)

               
               if ((genre_1_first_title == genre_1_second_title) || (genre_1_first_title == genre_1_third_title) || (genre_1_second_title == genre_1_third_title))
               	ART_Movie_listing_genre_1()
               else{
               	genre_1_list.push(genre_1_first)
               	genre_1_list.push(genre_1_second)
               	genre_1_list.push(genre_1_third)

               }

               console.log(genre_1_list)



               for (let i = 0 ; i < 3; i++) {
               	title = genre_1_list[i][0]
               	console.log(title)
               	poster_url = genre_1_list[i][1]
               	console.log(poster_url)
               	director = genre_1_list[i][2]
               	console.log(director)
               	summary = genre_1_list[i][3]
               	console.log(summary)

               	let temp_html_1 = '<div class="card">\
               	<img class="card-img-top" id="maingenre_movie_poster1" src="'+poster_url+'" alt="Card image cap">\
               	<div class="card-body">\
               	<h5 class="card-title movie_title" id="maingenre_movie_title1">'+title+'</h5>\
               	<p class="card-text" id="maingenre_movie_summary1">'+summary+'</p>\
               	<p class="card-text"><small class="text-muted" id="maingenre_movie_director1">'+director+'</small></p>\
               	</div>\
               	</div>';
               	$('#cards_box_1').append(temp_html_1);
               }
           }
       })

}

      //$(document).ready(function(){
         //$('#cards_box_2').html('');
         //ART_Movie_listing_genre_2();
      //});

      ART_Movie_listing_genre_2();
      
      function ART_Movie_listing_genre_2(){
         //let genre_2 = user_genre_2
         $.ajax({
         	type: "GET",
         	url: "/art_user_genre_2",
         	data: {},
         	success: function(response){
         		let genre_2_movie_infos = response['ART_movie_list'];
         		console.log(genre_2_movie_infos)

         		let random_1 = Math.floor(Math.random() * genre_2_movie_infos.length)
         		let random_2 = Math.floor(Math.random() * genre_2_movie_infos.length)
         		let random_3 = Math.floor(Math.random() * genre_2_movie_infos.length)

         		if ((random_1 == random_2) || (random_1 == random_3) || (random_2 == random_3)) 
         			ART_Movie_listing_genre_2()
         		else{
         			random_1 = random_1
         			random_2 = random_2
         			random_3 = random_3
         		}

         		let genre_2_list = new Array;
         		let genre_2_first = new Array;
         		let genre_2_second = new Array;
         		let genre_2_third = new Array;
               // 장르 1의 첫번째 영화 정보
               let genre_2_first_title = genre_2_movie_infos[random_1]['title']
               let genre_2_first_poster_url = genre_2_movie_infos[random_1]['poster_url']
               let genre_2_first_director = genre_2_movie_infos[random_1]['director']
               let genre_2_first_summary = genre_2_movie_infos[random_1]['summary']

               genre_2_first.push(genre_2_first_title)
               genre_2_first.push(genre_2_first_poster_url)
               genre_2_first.push(genre_2_first_director)
               genre_2_first.push(genre_2_first_summary)

               console.log(genre_2_first)
               

               // 장르 1의 두번째 영화 정보
               let genre_2_second_title = genre_2_movie_infos[random_2]['title']
               let genre_2_second_poster_url = genre_2_movie_infos[random_2]['poster_url']
               let genre_2_second_director = genre_2_movie_infos[random_2]['director']
               let genre_2_second_summary = genre_2_movie_infos[random_2]['summary']

               genre_2_second.push(genre_2_second_title)
               genre_2_second.push(genre_2_second_poster_url)
               genre_2_second.push(genre_2_second_director)
               genre_2_second.push(genre_2_second_summary)

               console.log(genre_2_second)

               // 장르1의 세번째 영화 정보
               let genre_2_third_title = genre_2_movie_infos[random_3]['title']
               let genre_2_third_poster_url = genre_2_movie_infos[random_3]['poster_url']
               let genre_2_third_director = genre_2_movie_infos[random_3]['director']
               let genre_2_third_summary = genre_2_movie_infos[random_3]['summary']

               genre_2_third.push(genre_2_third_title)
               genre_2_third.push(genre_2_third_poster_url)
               genre_2_third.push(genre_2_third_director)
               genre_2_third.push(genre_2_third_summary)

               console.log(genre_2_third)

               
               if ((genre_2_first_title == genre_2_second_title) || (genre_2_first_title == genre_2_third_title) || (genre_2_second_title == genre_2_third_title))
               	ART_Movie_listing_genre_2()
               else{
               	genre_2_list.push(genre_2_first)
               	genre_2_list.push(genre_2_second)
               	genre_2_list.push(genre_2_third)

               }

               console.log(genre_2_list)



               for (let i = 0 ; i < 3; i++) {
               	title = genre_2_list[i][0]
               	console.log(title)
               	poster_url = genre_2_list[i][1]
               	console.log(poster_url)
               	director = genre_2_list[i][2]
               	console.log(director)
               	summary = genre_2_list[i][3]
               	console.log(summary)

               	let temp_html_2 = '<div class="card">\
               	<img class="card-img-top" id="maingenre_movie_poster1" src="'+poster_url+'" alt="Card image cap">\
               	<div class="card-body">\
               	<h5 class="card-title movie_title" id="maingenre_movie_title1">'+title+'</h5>\
               	<p class="card-text" id="maingenre_movie_summary1">'+summary+'</p>\
               	<p class="card-text"><small class="text-muted" id="maingenre_movie_director1">'+director+'</small></p>\
               	</div>\
               	</div>';
               	$('#cards_box_2').append(temp_html_2);
               }
           }
       })

}

function user_bring(){
         //let genre_2 = user_genre_2
         $.ajax({
         	type: "GET",
         	url: "/userbring",
         	data: {},
         	success: function(response){
         		let user_infos = response['userdb'];
         		let user_genre_1 = user_infos['genre_1']
         		let user_genre_2 = user_infos['genre_2']
         	}
         })
     }


 </script>

 <style type="text/css">

 	.result_contents{
 		border: 1px solid;
 		border-radius: 30px;
 		width:800px;
 		height: 210px;
 		background-color: #231f20;
 		text-align: center;
 		margin-top: 50px;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	.title_logo_img{
 		padding-top: 10px;
 	}

 	.result_title{
 		font-size: 26pt;
 		padding-top: 10px;
 		color: white;
 	}

 	#result_main_genre{
 		font-size: 36pt;
 		color: white;
 	}
 	#result_second_genre{
 		font-size: 36pt;
 		color: white;
 	}

 	.result_word{
 		font-size: 26pt;
 		color: white;
 	}

 	.genre_contents{
 		margin-top: 50px;
 		margin-left: 100px;
 		margin-right: 100px;
 	}

 	.movie_title{
 		font-weight: bold;
 		text-align: center;
 	}

 	#main_genre_title{
 		text-align: center;

 	}

 	#second_genre_title{
 		text-align: center;

 	}




 </style>

</head>
<body>

	<div class="result_contents">
		<div class = "title_logo_img"><img src="static/main_logo.png" style="width:70px; height:50px"></div>
		<div class="result_title">Your Genre Is</div>
      <span id="result_main_genre"> user_genre_1, </span> <span id="result_second_genre"> user_genre_2 </span><!-- <span
      class="result_word">입니다</span> -->
  </div>


  <!--메인장르 컨텐츠-->
  <div class=genre_contents>
  	<h1 id="main_genre_title">user_genre_1</h1>

  	<div class="card-deck" id="cards_box_1">

  	</div>
  </div>

  <!--세컨장르 컨텐츠-->
  <div class=genre_contents>
  	<h1 id="second_genre_title">user_genre_2</h1>
  	<div class="card-deck" id="cards_box_2">

  	</div>
  </div>

</body>
</html>